In [1]:
python --version

NameError: name 'python' is not defined

In [2]:
import sys

In [3]:
list1 = [1,3,56,78, 34.8, 654]

In [4]:
list1

[1, 3, 56, 78, 34.8, 654]

In [5]:
list1[:]

[1, 3, 56, 78, 34.8, 654]

In [6]:
list[::-1]

list[slice(None, None, -1)]

In [7]:
list1[::-1]

[654, 34.8, 78, 56, 3, 1]

In [8]:
reversed(list1)

In [9]:
for i in list1:
    print(i)

1
3
56
78
34.8
654

In [10]:
for i,j in enumerate(list1):
    print(f"{i} --> {j}")

0 --> 1
1 --> 3
2 --> 56
3 --> 78
4 --> 34.8
5 --> 654

In [11]:
for i in reversed(list1):
    print(i)

654
34.8
78
56
3
1

> Printing elements from specifice indexes of the list
> for example if we want to print 1,3,4,7 index elements then we can print in the following way

In [13]:
list1 = list1 + ['one' , 'two' , 'three']
for i in [1,3,4,7]:
    print(list1[i])

3
78
34.8
two

In [14]:
list2 = ['a' , 'b' , 'z' , 8 , 9 ,5 ]
list2

['a', 'b', 'z', 8, 9, 5]

In [17]:
list2 * (-1) # will return an empty list

[]

In [16]:
list2

['a', 'b', 'z', 8, 9, 5]

In [19]:
# Creating an empty list - Not Recommended but it works
my_list = []

len(my_list)

0

In [20]:
# recommended 
myList = list()

len(myList)

0

In [21]:
myList + [1, 'one', 2 , 'two' , 3 , 'three']
myList

[]

In [22]:
myList = myList + [1, 'one', 2 , 'two' , 3 , 'three']

In [23]:
myList

[1, 'one', 2, 'two', 3, 'three']

In [24]:
myList = myList + "stringsss"
myList

TypeError: can only concatenate list (not "str") to list

In [25]:
myList = myList + ("stringsss", "four")
myList

TypeError: can only concatenate list (not "tuple") to list

In [1]:
list_3 = [78 , 89, 999,349, 6, 12]
print(max(list_3))

999

In [3]:
list_string = ['a' , 'v' , 'abx' , 'm' , 'sf']
print(max(list_string))

v

In [6]:
list_string2 = ['a' , 'v' , 'abx' , 'm' , 'sf' , 6 , 8 ,12]
print(max(list_string2)) #max value could not be found if the list contains elements of different datatypes

TypeError: '>' not supported between instances of 'int' and 'str'

In [7]:
list_num = [123 , 46, 87.65 , 8+34j , 543.78]
print(max(list_num)) # list can contain int and float but if it contains complex numbers, max() value can not be determined, it will throw an error

TypeError: '>' not supported between instances of 'complex' and 'int'