- class - is a blue print or code template for object creation
- object - object is an instance of a class

- Properties of object ---------> attribute, instance variable
- functionality of object --------> menthods/function()

In [9]:
class Emp:
    pass

In [10]:
#creating an object ---? objvar = ClassName()
e = Emp()

In [11]:
type(e)

__main__.Emp

In [12]:
print(type(e))

<class '__main__.Emp'>

In [13]:
id(e)

140145470229472

In [14]:
class Robot:
    
    def introduce_self(self):
        print("My name is " + self.name)

In [15]:
r1 = Robot()

In [17]:
r1.name = "chitti"

In [18]:
r1.name

'chitti'

In [20]:
r1.introduce_self()

My name is chitti

In [21]:
r2 = Robot()

In [22]:
r2.name = "robo9"

In [23]:
r2.introduce_self()

My name is robo9

In [24]:
dir(r1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'introduce_self',
 'name']

In [25]:
r3 = Robot()

In [26]:
r3.introduce_self() #r3 object does not have a name associated with it

AttributeError: 'Robot' object has no attribute 'name'

#### Constructor - the `__init__()`

> All classes have a function called `__init__()`, which is always executed when the class is being initiated.

> Use the `__init__()` function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [27]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

- Note: The __init__() function is called automatically every time the class is being used to create a new object.

#### The `__str__()` Function
> The `__str__()` function controls what should be returned when the class object is represented as a string.

> If the `__str__()` function is not set, the string representation of the object is returned:

In [29]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1) #The string representation of an object WITHOUT the __str__() function:

<__main__.Person object at 0x7f76243ec8b0>

In [31]:
#The string representation of an object WITH the __str__() function:

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def __str__(self):
        return f"{self.name} is {self.age} years old"

p1 = Person("John", 36)

print(p1)

John is 36 years old

In [33]:
class Person:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def myfunc(self):
        print("Hello!, my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello!, my name is John

##### The self Parameter
> The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

> It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [34]:
class Person:
    
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age
    
    def myfunc(abc):
        print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [35]:
#Set the age of p1 to 40:

p1.age = 40

In [36]:
p1.age

40

In [39]:
#ading new attributes
p1.gender = "male"

In [40]:
p1.gender

'male'

In [41]:
# Delete the age property from the p1 object:

del p1.gender

In [42]:
p1.gender

AttributeError: 'Person' object has no attribute 'gender'

In [1]:
class Robot:
    
    def __init__(self,name,color,weight):
        self.name = name
        self.color = color
        self.weight = weight
        
    def introduce_self(self):
        print("My name is " + self.name)

In [2]:
r1 = Robot("abc" , "red" , 30)

In [3]:
r2 = Robot("pqr" , "blue" , 40)

In [4]:
r1.color

'red'

In [5]:
r2.name

'pqr'

In [7]:
r1.introduce_self()

My name is abc

In [8]:
r2.weight

40

In [10]:
class Person:
    
    def __init__(self,name,gender,profession):
        self.name = name
        self.gender = gender
        self.profession = profession
        
    def show(self):
        print('Name' , self.name, 'Gender' , self.gender , "Profession" , self.profession)
    
    def work(self):
        print(self.name, 'working as a' ,self.profession)

In [12]:
p1 = Person('Rakesh' , 'Male' , 'Engineer')

In [13]:
p1.show()

Name Rakesh Gender Male Profession Engineer

In [14]:
p1.work()

Rakesh working as a Engineer

In [15]:
dir(p1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'gender',
 'name',
 'profession',
 'show',
 'work']

In [16]:
class Emp:
    
    def __init__(self):
        print(id(self))
        self.age = 25
        self.name = 'Raka'
        self.salary = 50000

In [17]:
e1 = Emp()

139815193937472

In [18]:
e1.salary

50000

In [19]:
e1.weight = 87

In [20]:
e1.weight

87

In [27]:
#Area of a circle
import math
class Circle:
    
    def __init__(self, radius):
        self.radius = radius
        
    def area(self):
        print(f"Area of Circle = {self.radius * self.radius * math.pi }")
    
    def circumference(self):
        print(f"Circumference of the circle = {2* math.pi * self.radius}")

In [28]:
c1 = Circle(7)

In [29]:
c1.area()

Area of Circle = 153.93804002589985

In [30]:
c1.circumference()

Circumference of the circle = 43.982297150257104

In [1]:
class BankAccount:
    
    def __init__(self,accountNum, name, balance):
        self.accountNum = accountNum
        self.name = name
        self.balance = balance
        
    def deposit(self,amount):
        self.balance = self.balance + amount
        
    def withdraw(self,amount):
        self.balance = self.balance - amount
        
    def display(self):
        print(f"Account number : {self.accountNum} , Name = {self.name} , Balance = {self.balance}")
        
    def __str__(self):
        return "This is the Bank Account class"

In [2]:
b1 = BankAccount(231144,'Rakesh',5000)

In [35]:
b1.withdraw(2000)

In [37]:
b1.display()

Account number : 231144 , Name = Rakesh , Balance = 3000

In [38]:
b1.deposit(6500)

In [39]:
b1.display()

Account number : 231144 , Name = Rakesh , Balance = 9500

In [3]:
print(b1)

This is the Bank Account class

In [14]:
# with try and except

class Student:
    
    def __init__(self,name,rollno,joining_data,current_topic):
        self.name = name
        self.rollno = rollno
        self.joining_data = joining_data
        self.current_topic = current_topic
        
    def cur_topic(self):
        print("Current topic discussed in class is", self.current_topic)
        
    def stu_rollno(self):
        
        try:
            if type(self.rollno) == str:
                print("do nothing")
                
            else :
                return str(self.rollno)
        except Exception as e:
            print("This is my error message:",e)
                  
    def duration(self,current_date):
         print("Duration of student in my class is ", current_date - self.joining_data)
                  
    def __str__(self):
          return "This is student Class"

In [6]:
s1 = Student("Rakesh", 47, 2021 , "FSDS")

In [7]:
print(s1)

This is student Class

In [9]:
s1.duration(2023)

Duration of student in my class is  2

In [10]:
s1.stu_rollno()

'47'

In [15]:
s1.cur_topic()

Current topic discussed in class  is  FSDS

In [30]:
#Calculator

class Calculator:
    
    def __init__(self, a , b):
        self.num1 = a 
        self.num2 = b
        
    def __str__(self):
        return "This is the Calculator to persorm arithmatic Operation"
    
    def add(self):
        return self.num1 + self.num2
    
    def subtract(self):
        return self.num1 - self.num2
    
    def multiply(self):
        return self.num1 + self.num2
    
    def divide(self):
        
        try:
            return self.num1 / self.num2
            
        except ZeroDivisionError as e:
            print("Error : ", e)
            
a = int(input("Num 1 = "))
b = int(input("Num 2 = "))
            
c1 = Calculator(a,b)

Num 1 =  5
Num 2 =  1

In [20]:
c1.add()

25

In [21]:
c1.subtract()

15

In [31]:
c1.divide()

5.0

In [32]:
#### Default Constructor

class Student:
    
    def who(self):
        print("I am a student")

In [33]:
s1 = Student()

In [34]:
s1.who()

I am a student

In [35]:
dir(s1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'who']

In [5]:
#non parameterized constructor
class Company:
    
    def __init__(self):
        self.name = "iNeuron"
        self.address = "BLR"
        
    def show(self):
        print("Name : " , self.name , ", Address :" , self.address)

In [6]:
cmp = Company()

In [7]:
cmp.show()

Name :  iNeuron , Address : BLR