## Programming Assignment 4

1.	Write a Python Program to Find the Factorial of a Number?

In [2]:
n = int(input("Enter a number: "))
fact = 1 
for i in range(2,n+1):
  fact *= i
print(f"Factorial of {n} = {fact}")

Enter a number: 5
Factorial of 5 = 120

2.	Write a Python Program to Display the multiplication Table?

In [4]:
num = int(input("Enter a number : "))
for i in range (1,11):
  print(f"{num} x {i} = {num*i}")

Enter a number : 13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

3.	Write a Python Program to Print the Fibonacci sequence?

In [7]:
sl = int(input("Enter Sequence length : ")) #sl = sequence length

a = 0
b = 1
i = 0
while (i < sl):
  print(a , end=" ")
  c = a + b
  a = b
  b = c
  i += 1

Enter Sequence length : 10
0 1 1 2 3 5 8 13 21 34

4.	Write a Python Program to Check Armstrong Number?

In [13]:
x = int(input("Enter a number : "))

# Armstrong Number --> 153 = 1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153
sum = 0
temp = x
while (temp > 0):
  d = temp % 10
  sum += d**3
  temp = int(temp / 10)

if (x == sum): 
  print(f"{x} is an Armstrong Number")
else:
  print(f"{x} is not an Armstrong Number")

Enter a number : 153
153 is an Armstrong Number

5.	Write a Python Program to Find Armstrong Number in an Interval?

In [14]:
low = int(input("Enter Lower Limit : "))
up = int(input("Enter Upper Limit : "))

def isArmstrong(x):
  sum = 0
  temp = x
  while (temp > 0):
    d = temp % 10
    sum += d**3
    temp = int(temp / 10)

  if (x == sum): 
    return True

  return  False

for i in range(low , up+1):
  if isArmstrong(i):
    print(i , end=" ")

Enter Lower Limit : 1
Enter Upper Limit : 1000
1 153 370 371 407

6.	Write a Python Program to Find the Sum of Natural Numbers?

> - Sum of first N natural numbers = n *(n + 1) / 2

In [16]:
# for the sum of first N natural numbers
N = int(input("Enter the N value : "))
sum = N * (N + 1) / 2
print(f"Sum of First {N} natural numbers  = {sum}")

Enter the N value : 10
Sum of First 10 natural numbers  = 55.0

In [20]:
# for the case where the user enters all the natural numbers
q = int(input("How many numbers you want to enter : "))
sum = 0
print(f"Enter {q} numbers : ")
for i in range(q):
  n = int(input())
  sum += n
print(f"Result = {sum}")

How many numbers you want to enter : 4
Enter 4 numbers :
2
3
5
7
Result = 17

In [ ]:
3