## Programming Assignment 2

1.	Write a Python program to convert kilometers to miles?

> 1 km = 0.6214 miles

In [1]:
 dist = float(input("Enter the distance in KM :"))
 print(f"Corresponding Distance in Miles : {dist * 0.6214}")

Enter the distance in KM :5
Corresponding Distance in Miles : 3.1069999999999998

2.	Write a Python program to convert Celsius to Fahrenheit?

5(F - 32)/9 = C or F = (9 / 5 * C) + 32

In [2]:
ctemp = float(input("Enter Temperatur in celcius "))
ftemp = (9 / 5 * ctemp) + 32
print(f"Corresponding temperature in Fahrenheit : {ftemp}")

Enter Temperatur in celcius 37
Corresponding temperature in Fahrenheit : 98.60000000000001

3.	Write a Python program to display calendar?

In [4]:
import calendar
year = int(input("Enter year : "))
month = int(input("Enter month : "))
print(calendar.calendar(year,month))

Enter year : 2022
Enter month : 10
                                                                                                                      2022

                                  January                                                                           February                                                                           March
  Monday    Tuesday   Wednesday   Thursday    Friday    Saturday    Sunday          Monday    Tuesday   Wednesday   Thursday    Friday    Saturday    Sunday          Monday    Tuesday   Wednesday   Thursday    Friday    Saturday    Sunday
                                                            1          2                          1          2          3          4          5          6                          1          2          3          4          5          6
     3          4          5          6          7          8          9               7          8          9         10         11         12         13               7          8          9         10         11         12         13
    10         11         12         13         14         15         16              14         15         16         17         18         19         20              14         15         16         17         18         19         20
    17         18         19         20         21         22         23              21         22         23         24         25         26         27              21         22         23         24         25         26         27
    24         25         26         27         28         29         30              28                                                                                28         29         30         31
    31

                                   April                                                                              May                                                                               June
  Monday    Tuesday   Wednesday   Thursday    Friday    Saturday    Sunday          Monday    Tuesday   Wednesday   Thursday    Friday    Saturday    Sunday          Monday    Tuesday   Wednesday   Thursday    Friday    Saturday    Sunday
                                                 1          2          3                                                                                 1                                     1          2          3          4          5
     4          5          6          7          8          9         10               2          3          4          5          6          7          8               6          7          8          9         10         11         12
    11         12         13         14         15         16         17               9         10         11         12         13         14         15              13         14         15         16         17         18         19
    18         19         20         21         22         23         24              16         17         18         19         20         21         22              20         21         22         23         24         25         26
    25         26         27         28         29         30                         23         24         25         26         27         28         29              27         28         29         30
                                                                                      30         31

                                    July                                                                             August                                                                          September
  Monday    Tuesday   Wednesday   Thursday    Friday    Saturday    Sunday          Monday    Tuesday   Wednesday   Thursday    Friday    Saturday    Sunday          Monday    Tuesday   Wednesday   Thursday    Friday    Saturday    Sunday
                                                 1          2          3               1          2          3          4          5          6          7                                                1          2          3          4
     4          5          6          7          8          9         10               8          9         10         11         12         13         14               5          6          7          8          9         10         11
    11         12         13         14         15         16         17              15         16         17         18         19         20         21              12         13         14         15         16         17         18
    18         19         20         21         22         23         24              22         23         24         25         26         27         28              19         20         21         22         23         24         25
    25         26         27         28         29         30         31              29         30         31                                                          26         27         28         29         30

                                  October                                                                           November                                                                          December
  Monday    Tuesday   Wednesday   Thursday    Friday    Saturday    Sunday          Monday    Tuesday   Wednesday   Thursday    Friday    Saturday    Sunday          Monday    Tuesday   Wednesday   Thursday    Friday    Saturday    Sunday
                                                            1          2                          1          2          3          4          5          6                                                1          2          3          4
     3          4          5          6          7          8          9               7          8          9         10         11         12         13               5          6          7          8          9         10         11
    10         11         12         13         14         15         16              14         15         16         17         18         19         20              12         13         14         15         16         17         18
    17         18         19         20         21         22         23              21         22         23         24         25         26         27              19         20         21         22         23         24         25
    24         25         26         27         28         29         30              28         29         30                                                          26         27         28         29         30         31
    31

4.	Write a Python program to solve quadratic equation?

```ax2 + bx + c
where,
a, b, and c are coefficient and real numbers and also a â‰  0.
If a is equal to 0 that equation is not valid quadratic equation. ```

> - x = (-b + (b^2 - 4ac)**1/2)/2a  
> - x = (-b - (b^2 - 4ac)**1/2)/2a

In [7]:
a = int(input("Co-efficient of x^2 : "))
b = int(input("Co-efficient of x : "))
c = int(input("constant value : "))

x1 = ((0-b) + (b**2 - 4*a*c)**1/2) / 2*a
x2 = ((0-b) - (b**2 - 4*a*c)**1/2) / 2*a
print(f"solutions are {x1} and {x2}")

Co-efficient of x^2 : 1
Co-efficient of x : 5
constant value : 6
solutions are -2.25 and -2.75

5.	Write a Python program to swap two variables without temp variable?

In [5]:
var1 = int(input("Enter 1st Number: "))
var2 = int(input("Enter 2nd Number: "))

print(f"Numbers before Swapping: var1 = {var1} , var2 = {var2}")
var1 = var1 + var2
var2 = var1 - var2
var1 = var1 - var2
print(f"Numbers after Swapping: var1 = {var1} , var2 = {var2}")

Enter 1st Number: 34
Enter 2nd Number: 56
Numbers before Swapping: var1 = 34 , var2 = 56
Numbers after Swapping: var1 = 56 , var2 = 34