### Decorator

In [12]:
def func1(func):
    def innerfunc():
        print("I am inside inner function ")
        func()
        print("function executed ")
    return innerfunc()

In [13]:
def func3():
    print ("Hello")

In [14]:
func3()

Hello

In [15]:
func1(func3)

I am inside inner function
Hello
function executed

In [18]:
func1(func3)

I am inside inner function
Hello
function executed

In [19]:
def func1(func):
    def innerfunc():
        print("I am inside inner function ")
        func()
        print("function executed ")
    return innerfunc

In [20]:
@func1
def func3():
    return 5+6

In [21]:
func3() # it does not return the return value 5+6 = 11

I am inside inner function
function executed

In [25]:
def func1(func):
    def innerfunc():
        print("I am inside inner function ")
        print(func()) #using print function we can print the return value
        print("function executed ")
    return innerfunc

In [26]:
@func1
def func3():
    return 15+26

In [27]:
func3()

I am inside inner function
41
function executed

In [28]:
a = func3() # we will not be able to stoare the value in a variable
a

I am inside inner function
41
function executed

In [29]:
print(a)

None

In [34]:
def func1(func):
    def innerfunc():
        print("I am inside inner function ")
        print(func()) #using print function we can print the return value
        print("function executed ")
        return func() #if we add the return statemet then we can store the return value in a variable
    return innerfunc

In [35]:
@func1
def func3():
    return 155+286

In [36]:
r = func3()
r

I am inside inner function
441
function executed

441

In [37]:
print(r)

441

In [38]:
345 + func3()

I am inside inner function
441
function executed

786

In [44]:
# with Parameters
def func4(func):
    def innerfunc(a,b):
        print("I am inside inner function ")
        func(a,b)
        print("function executed ")
        return func(a,b)
    return innerfunc

In [45]:
@func4
def func5(a,b):
    return a+b

In [47]:
func5(8,3)

I am inside inner function
function executed

11

In [48]:
func5('rakesh' , 'behera')

I am inside inner function
function executed

'rakeshbehera'

In [53]:
@func4
def func6(a,b,c):
    return a+b+c

In [54]:
func6()

TypeError: func4.<locals>.innerfunc() missing 2 required positional arguments: 'a' and 'b'

In [55]:
def func7(func):
    def func8(*args):
        print(func(*args))
        print("This is My Decorator Function")
        return func(*args)
    return func8

In [56]:
@func7
def func9(a,b,c):
    return a+b+c

In [58]:
func9('abc', 'pqr' , 'xyz')

abcpqrxyz
This is My Decorator Function

'abcpqrxyz'

In [64]:
#if you want to pass the arguments as key-value pair, then u can define the parametrs of the decorator function as **kwargs
def func10(func):
    def func11(**kwargs):
        print(func(**kwargs))
        print("This is My Decorator Function")
        return func(**kwargs)
    return func10
# but using only **kwargs will throw an error, so we should use both *args and **kwargs

In [65]:
@func10
def func12(a,b,c):
    return a+b+c

In [66]:
func12(a = 12, c = 25 , b = 67)
# it will throw an error if we use only **kwargs, so it is recommended to use both *args and **kwargs

TypeError: func10() got an unexpected keyword argument 'a'

In [87]:
#using both *args and **kwargs will be able to take all kind of data
# it can take both key-value pair data as well as flat data
def func10(func):
    def func11(*args,**kwargs):
        func(*args,**kwargs)
        print(func(*args,**kwargs))
        print("This is My Decorator Function")
        return func(*args,**kwargs)
    return func11

In [88]:
@func10
def func12(**kwargs):
    return kwargs

In [91]:
func12(a = 12, b = 13 , c = 17)

{'a': 12, 'b': 13, 'c': 17}
This is My Decorator Function

{'a': 12, 'b': 13, 'c': 17}

In [78]:
def test6(func) :
    def test7(*args,**kwargs):
        func(*args,**kwargs)
        print(func(*args,**kwargs))
        print("this is my decorator functinon") 
        return func(*args,**kwargs)
    return test7

In [79]:
@test6
def test8(a,b):
    return a+b

In [80]:
test8("sudh" , "kumar")

sudhkumar
this is my decorator functinon

'sudhkumar'

In [81]:
@test6
def test9(**kwargs):
    return kwargs

In [82]:
test9(a= 89 , b = 67)

{'a': 89, 'b': 67}
this is my decorator functinon

{'a': 89, 'b': 67}

### Lambda Expression

> A lambda function is a small anonymous function.

> A lambda function can take any number of arguments, but can only have one expression.

> SYNTAX - lambda arguments : expression

In [1]:
x = lambda a: a + 24

In [2]:
x(29)

53

In [3]:
y = lambda a, b : a + b
y(16,84)

100

In [11]:
d = lambda a,b,c,d : a*b+c/d
d(3,4,5,6)

12.833333333333334

In [12]:
e = lambda *args: args
e()

()

In [13]:
e(3,5,7)

(3, 5, 7)

#### Why Use Lambda Functions?
- The power of lambda is better shown when you use them as an anonymous function inside another function.

Example - Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [4]:
def product(n):
    return lambda a : a*n

In [5]:
result = product(3)
result(13)

39

In [7]:
two_times = product(2)
three_times = product(3)
print(two_times(38))
print(three_times(38))

76
114

### Map , Reduce, Filter

##### 1. Map()

Init signature: map(self, /, *args, **kwargs)
Docstring:     
map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

In [14]:
l = [1,2,3,4,5,6,7]
l

[1, 2, 3, 4, 5, 6, 7]

In [17]:
# add 10 to all the elements of the list using lambda
la = lambda a: a + 10
new_list = []
for i in l:
    new_list.append(la(i))
new_list

[11, 12, 13, 14, 15, 16, 17]

In [19]:
def test1(a):
    return a+10

In [20]:
map(test1,l)

In [22]:
m = list(map(test1,l))
m

[11, 12, 13, 14, 15, 16, 17]

In [24]:
m1 = list(map(la,l)) # passing lambda exp as parameter instead to function
m1

[11, 12, 13, 14, 15, 16, 17]

In [25]:
# square of all the elements
list(map(lambda a: a*a, l))

[1, 4, 9, 16, 25, 36, 49]

In [26]:
# convert all strings to uppercase
l2 = ['rakesh' , 'kumar' ,'behera']
l2

['rakesh', 'kumar', 'behera']

In [28]:
list(map(lambda s : s.upper() , l2))

['RAKESH', 'KUMAR', 'BEHERA']

In [29]:
list(map(str.lower, l2))

['rakesh', 'kumar', 'behera']

In [31]:
list(map(upper_string, l2))

NameError: name 'upper_string' is not defined

In [33]:
# length of strings
list(map(len,l2)) #  using inbuilt len() function

[6, 5, 6]

#### Filter()

Init signature: filter(self, /, *args, **kwargs)
Docstring:     
filter(function or None, iterable) --> filter object

Return an iterator yielding those items of iterable for which function(item)
is true. If function is None, return the items that are true.

In [35]:
l =  [1,2,3,4,5,6,7,8,9]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
#filter all the even numbers
list(filter(lambda a : a % 2 == 0 , l))

[2, 4, 6, 8]

In [37]:
#list comprehension
l2 = [x for x in l if x % 2 == 0 ]

In [38]:
l2

[2, 4, 6, 8]

In [41]:
# filter function works on True or False(Boolean) Value
def check_even(a):
    if a % 2 == 0:
        return True
    else:
        return False

In [42]:
list(filter(check_even,l))

[2, 4, 6, 8]

### reduce()

> reduce() is availabe inside `functools` package.

reduce(function, iterable[, initial]) -> value

Apply a function of two arguments cumulatively to the items of a sequence
or iterable, from left to right, so as to reduce the iterable to a single
value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
of the iterable in the calculation, and serves as a default when the
iterable is empty.

In [43]:
sum(l)

45

In [44]:
from functools import reduce

In [46]:
reduce(lambda a,b: a * b , l) # reduce always takes two arguments

362880

In [48]:
li = [3]
reduce(lambda a,b: a * b, li)
# it is only exception in reduce, here it works with only one argument

3

##### DOC string to give a hint to other Programmers

In [49]:
def dummyFunc():
    """This is just a dumy Function to demonstrate how to write a Doc String , which will give other Programmers a hint regarding the Function or Methods, It must be written inside the Function otherwise it is used for Multi-line Comments outside the function """
    return "This is a Dummy Function about DOC String"

In [51]:
dummyFunc() # press shift+tab to view the dic string

'This is a Dummy Function about DOC String'

In [2]:
def func2(a,b) -> int: # int here is not the return type , it acts as hint for what type of input/data u are supposed to pass
    """Using the '->' after the function name while defining a function we can define that what type of of input this function takes, so while call the function we can provide the arguments of that datatype"""
    return a+b

In [3]:
func2(35,87)

122

In [4]:
def func3(a : int , b): # int here is the indication for the next user, that it should get an int valuse, but it also can receive a string
    return a+b

In [5]:
func3('raka','behera')

'rakabehera'

In [6]:
def test26(a : int ,b : "func", c:int  = 234) -> int:
    '''this is my doc string to give a hint to next programer '''
    return a +b +str(c)

In [7]:
test26("sudh"  , "kumar" , 345)

'sudhkumar345'