1. Print the first 5 positive integers in ascending order with one number in each line

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [1]:
5+99+89

193

2. Print the following pattern
*
**
***
****
*****
There are no spaces between consecutive stars. There are no spaces 
at the end of each line.

In [5]:
for i in range(1,6):
    print(i*'*')

*
**
***
****
*****

In [11]:
for r in range(1,6):
    for c in range(r):
        print('*', end='')
    print()

*
**
***
****
*****

3. Accept an integer as input and print its square as output.

In [13]:
n = int(input("Enter an integer: "))
print(f"Square of {n} = {n*n}")

Enter an integer: 13
Square of 13 = 169

4. Accept two integers as input and print their sum as output.

In [14]:
a = int(input("Enter num 1: "))
b = int(input("Enter num 2: "))
print(f"Sum of {a} and {b} = {a+b}")

Enter num 1: 234
Enter num 2: 654
Sum of 234 and 654 = 888

5. Accept two words as input and print the two words after adding a 
space between them

In [14]:
print(input(),input())

rakesh
behera
rakesh behera

In [16]:
word1 = input("First word: ")
word2 = input("Second word: ")
print(f"Result = {word1+ ' ' +word2}")

First word: rakesh
Second word: behera
Result = rakesh behera

6. Accept the registration number of a vehicle as input and print its 
state-code as output.

In [18]:
reg = input("Enter vehicle registration number: ")
print(f"State code = {reg[:2]}")

Enter vehicle registration number: UP14AC1417
State code = UP

7.Accept a five-digit number as input and print the sum of its digits as 
output.

In [20]:
n = int(input("Enter a number: "))
sum = 0
while(n > 0):
    r = n % 10;
    sum = sum + r
    n = n // 10

    
print(f"Sum of the digits = {sum}")

Enter a number: 76543
Sum of the digits = 25

In [15]:
number = input("Enter a number: ")
sum = 0
for i in number:
    sum = sum + int(i)
    
print(f"Sum of digits = {sum}")

Enter a number: 23455
Sum of digits = 19

8.Accept five words as input and print the sentence formed by these 
words after adding a space between consecutive words and a full stop 
at the end.

In [21]:
list = []
for i in range(5):
    word = input()
    list.append(word)

sentence = ""
for i in list:
    sentence = sentence + i + " "
    
print(sentence + ".")

My
Name
is
Rakesh
Behera
My Name is Rakesh Behera .

9.Accept the date in DD-MM-YYYY format as input and print the 
year as output.

In [1]:
date = input("Enter a Date : ")
print(f"Year = {date[-4:]}")

Enter a Date : 12-10-2023
Year = 2023

10.Accept a sequence of five single digit numbers separated by commas 
as input. Print the product of all five numbers.

In [14]:
inp_num = [1,2,3,4,5]
prod = 1
for i in inp_num:
    if i != ',':
        prod = prod * int(i)
print(prod)

120

In [4]:
seq = input("Enter the sequence: ")
li = seq.split(',')
res= 1
for i in li:
    res = res * int(i)
    
print(f"Product = {res}")

Enter the sequence: 1,2,3,4,5
Product = 120

11. Accept two positive integers x and y as input. Print the number of 
digits in xy (x to the power of y)

In [17]:
x = int(input())
y = int(input())
z = x**y

print(f"no of digits = {len(str(z))}")

5
7
no of digits = 5

In [1]:
x = input()
y = input()
print(len(x+y))

123
23
5

12. Accept a string as input. If the input string is of odd length, then 
continue with it. If the input string is of even length, make the 
string of odd length as below:
• If the last character is a period (.), then remove it 
• If the last character is not a period, then add a period (.) to the 
end of the string
Call this string of odd length word. Select a substring made up of 
three consecutive characters from word such that there are an 
equal number of characters to the left and right of this substring. 
Print this substring as output. You can assume that all input 
strings will be in lower case and will have a length of at least four

In [5]:
strng = "Hello"
strng[-1]
print(len(strng))
strng = strng.replace('o','')
print(len(strng))

5
4

In [13]:
#My answer
txt = input()
ln = len(txt)
if ln % 2 == 0:
    if txt[-1] == '.':
        txt = txt.replace('.','')
        ln = ln -1
    else:
        txt = txt + '.'
        ln = ln+1
else:
    pass


si = ln//2 - 1
ei = si+3
print(txt[si:ei])

qazwsxe
zws

In [18]:
txt = input()
ln = len(txt)
if ln % 2 == 0:
    if txt[-1] == '.':
        txt = txt[:-1]
    else:
        txt = txt + '.'
        
n = int((len(txt)-1)/2)
print(txt[n-1:n+2])

welcome
lco

13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.

In [37]:
a = int(input("side1 : "))
b = int(input("side2 : "))
c = int(input("side3 : "))

if ((a**2 + b**2 == c**2) or (b**2 + c**2 == a**2) or (c**2 + a**2 == b**2)):
    print('yes')
else:
    print('no')

side1 : 6
side2 : 8
side3 : 10
yes

In [6]:
def checkRightTriangle(h,p,b):
    if (h*h) == (p*p) + (b*b):
        return True
    return False

a = int(input("side1 : "))
b = int(input("side2 : "))
c = int(input("side3 : "))

#res = 1

if a > b and a > c:
    res = checkRightTriangle(a,b,c)
    
elif b > c:
    res = checkRightTriangle(b,a,c)
else:
    res = checkRightTriangle(c,a,b,)

if res == True:
    print("YES")
else:
    print("NO")

side1 : 6
side2 : 7
side3 : 8
NO

14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique 
positive integer. On one warm Sunday evening, five employees of the company come together for a 
meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.
The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
The output will be a single line containing one of these two strings: YES or NO

In [38]:
e1 = int(input("Employee-1 ID: "))
e2 = int(input("Employee-2 ID: "))
e3 = int(input("Employee-3 ID: "))
e4 = int(input("Employee-4 ID: "))
e5 = int(input("Employee-5 ID: "))

if ((e1 + e2) % 2 == 0 and
     (e2 + e3) % 2 == 0 and
        (e3 + e4) % 2 == 0 and
            (e4 + e5) % 2 == 0 and
                (e5 + e1) % 2 == 0):
    print("YES")
else:
    print("NO")

Employee-1 ID: 11
Employee-2 ID: 13
Employee-3 ID: 15
Employee-4 ID: 17
Employee-5 ID: 199
YES

In [9]:
# My solution -- not a good approach
e1 = int(input("Employee-1 ID: "))
e2 = int(input("Employee-2 ID: "))
e3 = int(input("Employee-3 ID: "))
e4 = int(input("Employee-4 ID: "))
e5 = int(input("Employee-5 ID: "))

if (e1 + e2) % 2 == 0:
    if (e2 + e3) % 2 == 0:
        if (e3 + e4) % 2 == 0:
            if (e4 + e5) % 2 == 0:
                if (e5 + e1) % 2 == 0:
                    result = True
                else:
                    result = False
            else:
                result = False
        else:
            result = False
    else:
        result = False
else:
    result = False
    
if(result == True):
    print("YES")
else:
    print("NO")
                    
# unnecessary use of nested if-else

Employee-1 ID: 122
Employee-2 ID: 124
Employee-3 ID: 126
Employee-4 ID: 128
Employee-5 ID: 120
YES

15. Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output

In [45]:
input_string = input().lower()
vowels = ""
if "a" in input_string:
    vowels += "a"
if "e" in input_string:
    vowels += "e"
if "i" in input_string:
    vowels += "i"
if "o" in input_string:
    vowels += "o"
if "u" in input_string:
    vowels += "u"
if vowels != "":
    print(vowels)
else:
    print('none')

ineuron
eiou

In [42]:
def isVowel(s):
    if s.lower() == 'a' or s.lower() == 'e' or s.lower() == 'i' or s.lower() == 'o' or s.lower() == 'u':
        return True
    return False

st = input("Enter a string :")
list1 = []
for i in st.lower():
    if isVowel(i):
        list1.append(i)
list_set = set(list1)
ordered_list = list(sorted(list_set))
if len(list1) == 0:
    print("None")
else:
    for i in ordered_list:
        print(i,end=',')

Enter a string :ineuron
e,i,o,u,

12

16.You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.

In [46]:
n1 = input()
d1 = input()
n2 = input()
d2 = input()
if d1==d2 :
    if n1<n2 :
        print(n1)
    else :
         print(n2)
elif d1[-4:] != d2[-4:] :
    if int(d1[-4:]) < int(d2[-4:]):
        print(n2)
    else :
        print(n1)
elif d1[3:5] != d2[3:5]:
    if int(d1[3:5]) < int(d2[3:5]):
        print(n2)
    else :
        print(n1)
else :
    if int(d1[0:2]) < int(d2[0:2]):
        print(n2)
    else :
        print(n1)

raka
13-07-1998
akash
07-07-1998
raka

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [47]:
p = input()
if 8<= len(p) <= 32 and p[0].isalpha() and '/' not in p and '\\' not in p and '=' not in p and '\'' not in p and '\"' not in p and ' ' not in p :
     print('True')
else:
     print('False')

bhsbjhsvca
True

In [35]:
st = input("Enter a string: ")

if len(st) >= 8 and len(st) <= 32:
    if st[0].isupper() or st[0].islower():
        if '/' not in st or "\\" not in st or '=' not in st or '"' not in st or "'" not in st:
            if ' ' not in st:
                print("Valid Password")
            else:
                print("Inalid Password")
        else:
            print("Invalid Password")
    else:
        print("Valid Password")
else:
    print("Valid Password")

Enter a string: adef3fgrgg
Valid Password

18. Accept a positive integer n as input and print the first n positive 
integers, one number on each line.

In [3]:
no = int(input("Enter a Positive number : "))
for i in range(no):
    print(i+1)

Enter a Positive number : 5
1
2
3
4
5

19.Accept a positive integer n as input, where n is greater than 1. 
Print PRIME ifnis a prime number and NOTPRIME otherwise.

In [14]:
n = int(input("Enter a number: "))
def isPrime(n):
    if n == 1:
        return "NOT PRIME"
    for i in range(1,n//2):
        if n % i == 0:
            return "NOT PRIME"
    return "PRIME"
print(isPrime(n))

Enter a number: 4
NOT PRIME

In [48]:
n = int(input())
prime= True
for i in range(2,n):
    if(n%i==0):
        prime= False
if prime:
     print('PRIME')
else:
     print('NOTPRIME')

67
PRIME

20. Accept two strings as input and form a new string by removing all 
characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings 
will be in lower case.

In [20]:
str3 = "hello"
if 'l' in str3:
    str3 = str3.replace('l', '')
str3

'heo'

In [21]:
str1 = input()
str2 = input()

for c in str1:
    if c in str2:
        str2 = str2.replace(c,'')
        
print(f"New String : {str2}")

rakesh
kumar
New String : um

21.Accept a phone number as input. A valid phone number should satisfy 
the following constraints.
(1) The number should start with one of these digits: 6, 7, 8, 9
(2) The number should be exactly 10 digits long.
(3) No digit should appear more than 7 times in the number.
(4) No digit should appear more than 5 times in a row in the 
number.
If the fourth condition is not very clear, then consider this example: 
the number 9888888765 is invalid because the digit 8 appears more 
than 5 times in a row. Print the string valid if the phone number is 
valid. If not, print the string invalid.

In [18]:
phn = input("Enter a Phone Number: ")

if phn.startswith('9') or phn.startswith('8') or phn.startswith('7') or phn.startswith('6'):
    if len(phn) == 10 and phn.isdigit():
        for d in phn:
            if phn.count(d) > 7:
                print("Invalid Phone Number")
                break
            else:
                if d*6 in phn:
                    print("Invalid Phone Number")
                    break
                else:
                    print("Phone number is valid")
                    break
    else:
        print("Invalid Phone Number")
else:
    print("Invalid Phone Number")

Enter a Phone Number: 7656786698
Phone number is valid

In [17]:
n=input()
a=False
if len(n)==10 and int(n[0])>5 and n.isdigit():
    for i in range(10):
        if n.count(n[i])<8:
            a=True
            if n[i]*6 in n:
                a=False
                break
        else:
            break
if a:
    print('valid')
else:
    print('invalid')

#The isdigit() method returns True if all the characters are digits, otherwise False.
# The count() method returns the number of elements with the specified value.

9876567897
valid

22. In the first line of input, accept a sequence of space-separated words. In the second line of 
input, accept a single word. If this word is not present in the sequence, print NO. If this word 
is present in the sequence, then print YES and in the next line of the output, print the number 
of times the word appears in the sequence.

In [21]:
seq = input()
seql = seq.split(" ")
word = input()

if word in seql:
    print('YES')
    print(seq.count(word))
else:
    print('NO')

i write code, i use python to write code
write
YES
2

23. Write a function named factorial that accepts an integer n as argument. It should return 
the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it 
should return 1 if n is zero.

In [34]:
n = int(input("Enter a number = "))

def factorial(n):
    fact = 1
    if n < 0:
        return -1
    if n == 0:
        return 1
    for i in range(n):
        fact = fact * (i+1)
    return fact
print(f"Facotial value of {n} = {factorial(n)}")

Enter a number = 6
Facotial value of 6 = 720

24. 
The range of a list of numbers is the difference between the maximum and minimum values in the list
Write a function named get_range that accepts a non-empty list of real numbers as argument. It 
should return the range of the list.
(1) Avoid using built-in function such as max and min.
(2) You do not have to accept input from the user or print output to the console. You just have to write 
the function definition.

In [8]:
list1 = [12,2,31,4,35,6,7,89,117]

def get_range(li):
    minn = li[0] 
    maxx = li[0]
    for i in range(1,len(li)):
        if li[i] > maxx:
            maxx = li[i]
        if li[i] < minn:
            minn = li[i]
    return maxx - minn

print(f"Range = {get_range(list1)}")

Range = 115

In [27]:
# get the maximum
def get_max(L):
    maxi = L[0]
    for x in L:
        if x > maxi:
            maxi = x
    return maxi
# get the minimum
def get_min(L):
    mini = L[0]
    for x in L:
        if x < mini:
            mini = x
    return mini
# get the range
def get_range(L):
    maxi = get_max(L)
    mini = get_min(L)
    return maxi - mini

In [28]:
get_range([1,2,3,4,10])

9

25. Write a function named read_file that accepts a text file named filename as argument. Within 
the function, read the file and print each line of the file on a separate line in the console. You shouldn't 
print any extra characters at the end of a line. There shouldn't be an empty line between any two 
consecutive lines.
(1) filename is a string variable that holds the name of the file. For example, in the first test case, it 
is filename = 'public_1.txt'.
(2) You do not have to accept input from the console. You have to write the function definition and 
print the contents of the file within the function

In [16]:
txtfile = open("example1.txt", 'w')
txtfile.write("This is line 1\nThis is line 2\nThis is line 3\nThis is the last or the 4th line")
def read_file(txtFile):
    file1 = open(txtFile,'r')
    for line in file1:
        print(line)
        
read_file("example1.txt")

This is line 1

This is line 2

This is line 3

This is the last or the 4th line

26. A simple algorithm has to be designed to find out whether a student 
belongs to the Data Science branch or not. The input will be a 
student's roll number, which is of the form BR18B0000. 
Here, BR represents the branch code, 18 represents the year of 
joining, B represents the education level and 0000 represents the 
specific identification given to the student of that batch. The branch 
code for Data Science is DS. Print True if the student belongs to 
Data Science branch and False otherwise.

In [25]:
def checkRoll(roll):
    if roll.isalnum() and len(roll) == 9 and roll[:2] == 'DS':
        return True
    else:
        return False

In [26]:
checkRoll("DS18B0000")

True

27.The police are trying to track a criminal based on the evidence 
available at a crime site. Their main clue is a vehicle's damaged 
number plate. Only the string TN07 is visible. The format of the 
registration number is AA00AA00, where the first two letters are 
alphabets, next two are numbers, next two are again alphabets 
followed by two numbers at the end. A number plate is picked from a 
database of registration numbers and is given to you as input. Your 
task is to determine if this could belong to the criminal or not. 
Print True if the number plate 
contains TN07 and False otherwise.

In [29]:
n=input()
if (n[0:4]=='TN07') or (n[4:8]=='TN07'):
    print('True')
else:
    print('False')

UP09AG78
False

28. You are given a string and two non-negative integers as input. The 
two integers specify the start and end indices of a substring in the 
given string. Create a new string by replicating the substring a 
minimum number of times so that the resulting string is longer than 
the input string. The input parameters are the string, start index of 
the substring and the end index of substring (endpoints inclusive) 
each on a different line.

In [32]:
string = input()
si = int(input())
ei = int(input())

sub = string[si:ei+1]

d = len(string) // len(sub)

new = sub * (d+1)
print(new)

gfgfgggh
3
4
fgfgfgfgfg

In [34]:
n=input()
a=int(input())
b=int(input())
x=n[a:b+1]
y=len(n)
ans=""
while(y>=len(ans)):
    ans+=x
print(ans)

code
2
3
dedede

29. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, 
and Emerald for sports competitions. For dividing the students into these four groups, she has 
followed the pattern given below:
Sapphire - 1, 5, 9, 13, 17, 21, ...
Peridot - 2, 6, 10, 14, 18, 22, ...
Ruby - 3, 7, 11, 15, 19, 23, ...
Emerald - 4, 8, 12, 16, 20, 24, ...
All the students are represented by their roll numbers. Based on the above pattern, given the roll 
number as input, print the group the student belongs to. Note that the roll number can be any 
positive integer and not necessarily less than 25.

In [37]:
roll_num = int(input())

def fromGroup(n):
    if n % 4 == 0:
        return "Emerald"
    elif n % 4 == 1:
        return "Sapphire"
    elif n % 4 == 2:
        return "Peridot"
    else:
        return "Ruby"
print(f"Roll no {roll_num} belongs to : {fromGroup(roll_num)}")

22
Roll no 22 belongs to : Peridot

In [38]:
n=int(input())
for i in range(1,n+1,4):
    if n==i:
        print('Sapphire')
for j in range(2,n+1,4):
    if n==j:
        print('Peridot')
for k in range(3,n+1,4):
    if n==k:
        print('Ruby')
for l in range(4,n+1,4):
    if n==l:
        print('Emerald')

24
Emerald

30. A data science company wants to hire data scientists from abc college. 
The company follows a certain criteria for selection: for a student to 
be selected, the number of backlogs should be at most 5 and the 
CGPA (Cumulative Grade Point Average) should be greater than 6. If 
the student does not fit the above criteria, then the student is not 
offered the job. If the student is selected, then the salary offered is 
equal to 5 times his/her CGPA (in lakhs).
Accept the number of backlogs (integer) and the CGPA (float) of the 
student as input. Your task is to determine if the student is selected or 
not. If the student is selected, then print the package. If not, then 
print the string Not Selected.

In [40]:
backlogs = int(input())
cgpa = float(input())

if backlogs <= 5 and cgpa > 6:
    print(f"Package Offered = {cgpa*5} lakhs")
else:
    print("Not selected")

4
7.8
Package Offered = 39.0 lakhs

31. Accept a string as input and print PALINDROME if it is a 
palindrome, and NOT PALINDROME otherwise

In [ ]:
7+8

In [5]:
str1 = input()


def check_Palindrome(s,l,h):
    l = 0
    h = len(str1) - 1
    while(l < h):
        if s[l] != s[h]:
            return False
        l+=1
        h -= 1
    return True
  
if check_Palindrome(str1,l,h):
    print("PALINDROME")
else:
    print("NOT PALINDROME")

malam
PALINDROME

In [3]:
str1 = input()

str2 = str1[::-1]


if str1 == str2:
    print("PALINDROME")
else:
    print("NOT PALINDROME")

malam
PALINDROME

32. In a portal login website, you are asked to write a function get_password_strength to decide 
the strength of a password. The strength is decided based on the total score of the password, Use 
following conditions:
1) If password has length greater than 7 then score increases by one point.
2) If password has at least one upper case and one lower case alphabets score increases by one point.
3) If password has at least one number and no consecutive numbers like 12 or 234 then score 
increases by one point.
4) If password has at least one special character (any character other than numbers and alphabets) then 
score increases by one point.
5) If password contains username, then it is invalid password.
If the password has score of four points, three points, two points, or one point then print Very 
Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then 
print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a 
different password.The arguments to the function are username and password which are 
already defined

In [35]:
def get_password_strength(username,password):
    c=0
    capital='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    c_flag=False
    small='abcdefghijklmnopqrstuvwxyz'
    s_flag=False
    num='0123456789'
    n_flag=False
    nc_flag=True
    if username in password:
        print('PASSWORD SHOULD NOT CONTAIN USERNAME')
        return 
    if len(password)>7:
        c=c+1
    for i in range(len(password)):
        if password[i] in small:
            s_flag=True
        elif password[i] in capital:
            c_flag=True
        elif password[i] in num:
            n_flag=True
        if n_flag:
            if i!=(len(password)-1):
                if num[((num.index(password[i]))+1)]==password[i+1]:
                    nc_flag=False
    if c_flag and s_flag :
             c+=1
    if n_flag and nc_flag:
        c+=1
    if c==4:
        print('Very Strong')
        return
    if c==3:
        print('Strong')
        return
    if c==2:
        print('Moderate')
        return
    if c==1:
        print('Weak')
        return
    if c==0:
        print('Use a different password')
        return

In [36]:
get_password_strength('imran','1nc')

ValueError: substring not found

33.decorator that logs the date and time

In [1]:
from datetime import datetime


def log_datetime(func):
    '''Log the date and time of a function'''

    def wrapper():
        print(f'Function: {func.__name__}\nRun on: {datetime.today().strftime("%Y-%m-%d %H:%M:%S")}')
        print(f'{"-"*30}')
        func()
    return wrapper


@log_datetime
def daily_backup():

    print('Daily backup job has finished.')

In [2]:
daily_backup()

Function: daily_backup
Run on: 2023-03-05 22:23:31
------------------------------
Daily backup job has finished.

34.Program to Get Data Items From a List Appearing Odd Number of Times

In [40]:
x = [1,2,3,4,5,1,3,3,4]
l1 = []
for i in x:
    if x.count(i) % 2 != 0:
        if i not in l1:
            l1.append(i)
print(l1)

[2, 3, 5]

35.What are decorators in Python?

In [10]:
#decorator function to convert to lowercase
def lowercase_decor(function):
    def wrapper():
        func = function()
        string_lwrcase = func.lower()
        return string_lwrcase
    return wrapper

#decorator function to split words
def splitter_decor(function):
    def wrapper():
        func = function()
        string_split = func.split()
        return string_split
    return wrapper

In [13]:
@splitter_decor
@lowercase_decor
def hello():
    return 'Hello World'

In [14]:
hello()

['hello', 'world']

decorators are used to add some functionality to an existing function without change the function itself.

In [ ]:
def strtolower(func):
    def inner(s):
        print("Unsing Decorator")
        func(s)
        print(s.lower)
    return inner

def strtolist(func):
    def inner(s):
        print("Unsing Decorator")
        func(s)
        list7 = s.split(",")
    return inner

36. remove items from a list while iterating but without creating a different copy of a list.
Remove numbers greater than 50
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected Output: [10, 20, 30, 40, 50]

In [17]:
number_list = [10, 20, 110,30, 40, 50, 60, 70, 80, 90, 30,100]

for i in number_list[::-1]:
    if i > 50:
        number_list.remove(i)
        
print(number_list)

[10, 20, 30, 40, 50, 30]

In [18]:

i = 0
n = len(number_list)
while i < n:
    if number_list[i] > 50:
        del number_list[i]
        n = n-1
    else:
        i = i +1
print(number_list)

[10, 20, 30, 40, 50, 30]

37.  Display all duplicate items from a list
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
Expected Output: [20, 60, 30]

In [41]:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
duplicate = []
for i in sample_list:
    if sample_list.count(i) > 1:
        if i not in duplicate:
            duplicate.append(i)
print(duplicate)

[20, 60, 30]

In [31]:
# using collections
import collections
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
duplicate = []

for item,count in collections.Counter(sample_list).items():
    if count > 1:
        duplicate.append(item)
print(duplicate)

[20, 60, 30]

38. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.
Create an inner function inside an outer function that will concatenate x and y.
At last, an outer function will join the word 'developer' to it.

In [25]:
def outer(x = 'Emma ' , y = 'Kelly'):
    def inner(x ,y):
        return x + y
    return inner(x,y) + " developer"

In [26]:
outer()

'Emma Kelly developer'

39. Modify the element of a nested list inside the following list
Change the element 35 to 3500
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [47]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
list1[1][2][2][1] = 3500
list1

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

40.  Access the nested key increment from the following dictionary
Access 12
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [3]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}
emp_dict["company"]["employee"]["payable"]["increment"]

12

41. Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [9]:
sum = 0

for i in range(10):
    curr = i
    if curr == 0:
        prev = 0
    else:
        prev = curr - 1
    sum = prev + curr
    print("Current Number {} Previous Number {} Sum: {}".format(curr,prev,sum))

Current Number 0 Previous Number 0 Sum: 0
Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17

42. Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.

In [13]:
str1 = input()
st = str1[::2]
for s in st:
    print(s , end = " ")

ineuron
i e r n

43. Print multiplication table form 1 to 10
1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [10]:
for i in range(10):
    for j in range (1,11):
        print((i+1) * j , end= ' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

44. Remove duplicates from a list and create a tuple and find the minimum and maximum number
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:
unique items [87, 45, 41, 65, 99]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99

45. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument,
also create a lambda function
that multiplies argument x with argument y and print the result.

In [8]:
add = lambda a : a + 15

multiply = lambda x,y : x*y

In [9]:
print(add(25))
print(multiply(12,6))

40
72

46. Write a Python program to sort a list of tuples using Lambda.

In [14]:
sortlist = lambda x : sorted(x)
l = [(3,'o') , (2,'t') , (5,'x')]
sortlist(l)

[(2, 't'), (3, 'o'), (5, 'x')]

In [20]:
li = [('i', 1),('a',3),('p',2),('k',34)]
li
li.sort(key = lambda x:x[1])
print(li)

[('i', 1), ('p', 2), ('a', 3), ('k', 34)]

47. Write a Python program to extract year, month, date and time using Lambda.

In [22]:
import datetime
now = datetime.datetime.now()
print(now)
year = lambda x:x.year
month = lambda x:x.month
date = lambda x:x.day
time = lambda x:x.time()
print(year(now))
print(month(now))
print(date(now))
print(time(now))

2023-03-10 00:10:26.682033
2023
3
10
00:10:26.682033

48. Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [23]:
list4 = [1,2,3,4,5,6,7,8,9]

even = len(list(filter(lambda x: x%2 == 0,list4)))
odd = len(list(filter(lambda x: x%2 != 0,list4)))

print(even)
print(odd)

4
5

49. Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence.
Use map() function.

In [29]:
def test(s):
    return str(s).upper() , str(s).lower()

chars = ['a','E' , 'N' , 'c' , 'T' , 'C' , 'a']

In [31]:
res = list(map(test , chars))
print(res)
res_set = set(map(test,chars))
res_set

[('A', 'a'), ('E', 'e'), ('N', 'n'), ('C', 'c'), ('T', 't'), ('C', 'c'), ('A', 'a')]

{('A', 'a'), ('C', 'c'), ('E', 'e'), ('N', 'n'), ('T', 't')}

50.  Write a Python program to square the elements of a list using map() function.

In [25]:
list7 = [2,3,4,7,6,8,9,11]

In [26]:
result =list(map(lambda x: x**2 , list7))
result

[4, 9, 16, 49, 36, 64, 81, 121]

In [14]:
list5 = [1,2,3,4,5,6,7,8]

sqr = lambda x : x ** 2

list_sqr = map(sqr,list5)
print(list(list_sqr))

[1, 4, 9, 16, 25, 36, 49, 64]